*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    background-color: #3b1b2a;

}

/* contenedor */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

/* header */
.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
}
header {
    background-color: #3b1b2a;
    color: white;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    z-index: 2;
}
header .logo {
    /* float: left; */
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
}
header img{
    width: 60px;
    border-radius: 50%;
}
header nav {

    /* margin-right: 20px; */
}

header nav ul {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    list-style: none;
    font-size: 18px;
}

header nav ul li {
    margin-left: 40px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}
.ancor-nav:hover {
    color: #e5a65f;
}

header nav ul li a.cta {
    background-color: #e5a65f;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 30px;
}



/* seccion heroe */
.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(./imagenes/inventario-fondo.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    text-align: center;
    margin: auto 0;
    padding: 20%;
    height: 920px;
    color: #f4f4f4;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
    
}

.hero p {
    font-size: 20px;
    margin-bottom: 20px;

}

.hero .btn-primary, .hero .btn-secondary {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    margin: 5px;
}

.hero .btn-primary {
    background-color: #547ea0;
    color: white;
}

.hero .btn-secondary {
    background-color: #e5a65f;
    color: white;
}

/* descripcion */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 9% 0;
    height: 920px;
    z-index: 1;
}

.product-overview h2 {
    text-align: center;
    margin-bottom: 60px;
    color: #333;
    font-weight: 900;
    font-size: 50px ;
}

.product-overview p {
    margin: 30px 10px;
    color: #555;
    font-weight: 500;
}

.product-overview {
    background-image: linear-gradient(to bottom, #e5a65f , #885b27);
    /* height: 850px; */
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    border-color: red;
    border-width: 5px;
}

.feature {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    flex: 1 1 calc(25% - 40px);
    max-width: calc(25% - 40px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.feature img {
    max-width: 80px;
    margin-bottom: 15px;
}

.feature h3 {
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 10px;
    color: #004aad;
}

.feature p {
    color: #777;
}

@media (max-width: 768px) {
    .features {
        flex-direction: column;
        align-items: center;
    }

    .feature {
        flex: 1 1 100%;
        max-width: 100%;
    }
}

/* cómo funciona */
.how-it-works h2 {
    text-align: center;
    margin-bottom: 60px;
    color: #fff;
    font-weight: 900;
    font-size: 50px ;
}

.how-it-works p {
    margin-bottom: 20px;
    color: #555;
}

.how-it-works {
    background-image: linear-gradient(to bottom, #3b1b2a , rgb(10, 10, 10));
    padding: 40px 0;
    position: relative;

}
.steps-img{
    display: flex;
    justify-content: space-between;
}
.steps {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: flex-start; */
}

.step {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 300px;
    margin-right: 20px;
    z-index: 1;
}

/* .steps .step:last-child {
    margin-right: 0;
} */

.step h3 {
    font-size: 20px;
    color: #547ea0;
    margin-bottom: 10px;
}

.step p {
    font-size: 16px;
    color: #333;
}

.how-it-works img {
    width: 800px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

@media (max-width: 768px) {
    .steps {
        flex-direction: column;
        align-items: center;
    }

    .step {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .how-it-works img {
        max-width: 100%;
        margin-top: 20px;
    }
}


/* testimonios */
.testimonials h2 {

    margin-bottom: 20px;
    color: #333;
    font-weight: 900;
    font-size: 50px ;
}

.testimonial p {
    margin-bottom: 20px;
    color: #555;
}

.testimonials {
    background-image: linear-gradient(to bottom, #e5a65f , #885b27);
    padding: 40px 0;
}

.testimonial {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    margin: 80px auto;
    max-width: 800px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.testimonial:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.testimonial p {
    font-size: 18px;
    font-style: italic;
    color: #333;
    margin-bottom: 10px;
}

.testimonial h4 {
    font-size: 16px;
    color: #004aad;
}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.logos img {
    max-height: 60px;
    margin: 0 20px;
    transition: transform 0.3s ease;
}

.logos img:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .logos {
        flex-direction: column;
    }

    .logos img {
        margin: 10px 0;
    }
}
.ripple-background{
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
}
.circle{
    position: absolute;
    border-radius: 50%;
    background: #a88561;
    animation: ripple 15s infinite;
    box-shadow: 0px 0px 1px 0px #3b1b2a;
  }
  
  .small{
    width: 200px;
    height: 200px;
    left: -100px;
    bottom: -100px;
  }
  
  .medium{
    width: 400px;
    height: 400px;
    left: -200px;
    bottom: -200px;
  }
  
  .large{
    width: 600px;
    height: 600px;
    left: -300px;
    bottom: -300px;
  }
  
  .xlarge{
    width: 800px;
    height: 800px;
    left: -400px;
    bottom: -400px;
  }
  
  .xxlarge{
    width: 1000px;
    height: 1000px;
    left: -500px;
    bottom: -500px;
  }
  
  .shade1{
    opacity: 0.2;
  }
  .shade2{
    opacity: 0.5;
  }
  
  .shade3{
    opacity: 0.7;
  }
  
  .shade4{
    opacity: 0.8;
  }
  
  .shade5{
    opacity: 0.9;
  }
  
  @keyframes ripple{
    0%{
      transform: scale(0.8);
    }
    
    50%{
      transform: scale(1.2);
    }
    
    100%{
      transform: scale(0.8);
    }
  }
/* planes y precios */
.pricing h2 {
    text-align: center;
    margin-bottom: 90px;
    font-weight: 900;
    font-size: 50px ;
    color: #fff;
}
.pricing p {
    margin-bottom: 20px;
    color: #555;
}
.pricing{
    position: relative;
    background-image: linear-gradient(to bottom, #3b1b2a , rgb(10, 10, 10));

}
.pricing .plans {
    display: flex;
    justify-content: center;
    gap: 40px; 
    flex-wrap: wrap;
}

.plan {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px 20px;
    width: 300px;
    height: 500px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 1;
    position: relative;
}

.plan:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.plan h3 {
    font-size: 1.5em;
    margin-bottom: 40px;
    color: #547ea0;
    font-weight: 800;
}

.plan p {
    font-size: 2em;
    color: #000;
    margin-bottom: 50px;
    font-weight: 300;
}

.plan ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.plan ul li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 1.1em;
    color: #555;
}

.plan ul li:before {
    content: '✔';
    color: #067b25;
    margin-right: 10px;
}

.buy-button {
    display: block;
    position: absolute;
    width: 85%;
    padding: 10px 0;
    background-color: #547ea0;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
    bottom: 30px;
}

.buy-button:hover {
    background-color: #97b3d0;
}

/* .toggle-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.toggle-buttons button {
    padding: 10px 20px;
    border: 1px solid #007bff;
    border-radius: 5px;
    background-color: #fff;
    color: #007bff;
    cursor: pointer;
    font-size: 1.1em;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.toggle-buttons button.active,
.toggle-buttons button:hover {
    background-color: #8ba9c2;
    color: white;
} */

@media (max-width: 768px) {
    .plans {
        flex-direction: column;
        align-items: center;
    }

    .plan {
        flex: 1 1 100%;
        max-width: 100%;
    }
}

/* preguntas frecuentes */
.faq h2 {
    text-align: center;
    margin-bottom: 90px;
    font-weight: 900;
    font-size: 50px ;
}

.faq p {
    margin-bottom: 20px;
    color: #555;
}

.faq {
    background-image: linear-gradient(to bottom, #e5a65f , #885b27);
    padding: 40px 0;
    z-index: 1;
}

.question {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.question:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.question h3 {
    font-size: 20px;
    color: #004aad;
    margin-bottom: 10px;
}

.question p {
    font-size: 16px;
    color: #333;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .question {
        padding: 15px;
    }

    .question h3 {
        font-size: 18px;
    }

    .question p {
        font-size: 14px;
    }
}
/* footer */
footer {
    background: #3b1b2a;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-links {
    margin-bottom: 10px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.footer-contact, .footer-social {
    margin-bottom: 10px;
}

.footer-social a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}
